body {
  margin: 0;
  background-color: #f3f2ef;
}

.container-div {
  padding: 2px 3px;
  background-color: #f3f2ef;
  max-width: 80%;
  margin-top: 20px;
}

.table-div {
  border-radius: 10px;
  border: 2px solid #f3f2ef;
  max-width: 90%;
  margin: 30px 30px;
  background-color: white;
  border-bottom: slategray;
}
